body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: auto;
    height: auto;
    border: solid black 1px;
    gap: 15px;
}

.numbers {
    display: grid;
    grid: 100px 100px 100px 100px/100px 100px 100px 100px;
    gap: 15px;

}

.clear-delete {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 15px;
}

.number-key,
.operation-key,
.equal-key,
.decimal-key,
.del-key,
.ac-key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    border: solid black 1px;
}

.display {
    display: grid;
    grid-template-rows: 50px 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    border: solid black 1px;
    width: 100%;
    gap: 10px;
    padding: 5px 0px 5px 0px;
}

.pre-operation {
    font-size: 20px;
    font-weight: bold;
}

